@model IEnumerable<Room_allocation.Models.Allocate>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Room.Rid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Mid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Room.Rid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Mid)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.A_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.A_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.A_Id })
        </td>*@
    </tr>
}

</table>
